.order {
  width: 35%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-image: linear-gradient(105deg, rgba(221, 221, 221, 0.85) 0%, rgba(221, 221, 221, 0.85) 100%, transparent 50%), url('../../Assets/Images/orders.jpg');
  padding: 3rem;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  color: #333;
  box-sizing: border-box;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 10rem;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-300px);
  gap: 1rem 0;
  @media (max-width: 1400px) {
    width: 40%;
  }
  @media (max-width: 1200px) {
    width: 45%;
  }
  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 800px) {
    width: 60%;
  }
  @media (max-width: 600px) {
    width: 70%;
    padding: 2rem;
  }
  @media (max-width: 400px) {
    width: 90%;
  }
  &__name {
    font-weight: bold;
    font-size: 2rem;
  }
  &__cell {
    font-size: 2rem;
    text-transform: capitalize;
    align-self: center;
    @media (max-width: 600px) {
      font-size: 1.6rem;
    }
  }
  &__empty {
    height: 1px;
    background-color: #333;
    align-self: center;
    width: 30%;
    justify-self: center;
  }
  &__price {
    font-weight: bold;
  }
  &__date {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }
}