.burger-builder {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-burger {
    overflow-y: auto;
    height: 100%;
    width: 350px;
    li {
      position: relative;
    }
    & svg {
      width: 100%;
      height: 10%;
    }
    &::-webkit-scrollbar {
      background-color: #f7f7f7;
      width: 5px;
    &-track {
       box-shadow: 0 0 2.5px 2px #000;
    }
    &-thumb {
    background-color: #bc581e;
    border-radius: 3px;
    }
  }
  }
  .tooltip {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
}
