.Toolbar {
  height: 10rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  font-size: 1.6rem;
}

.Toolbar nav {
  margin-right: 1.9rem;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}