.toolbar {
  height: 15rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  font-size: 1.6rem;
  transition: .3s;
  @media (max-width: 500px) {
    height: 10rem;
    }
    @media (max-width: 800px) and (orientation: landscape) {
      height: 10rem;
      }
  nav {
    margin-right: 1.9rem;
  }
  &--solid {
    height: 10rem;
    background-color: rgba(#ffbc0d, 0.9);
    @media (max-width: 500px) {
      background-color: transparent;
      }
    @media (max-width: 800px) and (orientation: landscape) {
      background-color: transparent;
      height: 10rem;
      }
  }
}

@media (max-width: 550px) {
  .DesktopOnly .action-button {
    font-size: 1.5rem;
  }
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .DesktopOnly {
    display: none;
  }
}
