.wrapper {
  padding: 0 6rem;
  position: relative;
  @media (max-width: 1000px) {
    padding: 0 5rem;
    }
    @media (max-width: 800px) {
      padding: 0 4rem;
    }
    @media (max-width: 600px) {
      padding: 0 3rem;
    }
      @media (max-width: 400px) {
        padding: 0 2rem;
        }
}
.home {
  box-sizing: border-box;
  position: relative;
}

.stories {
  padding: 15rem 0;
  position: relative;
  @media (max-width: 1000px) {
    padding: 12rem 0;
  }
  @media (max-width: 800px) {
    padding: 10rem 0;
  }
  @media (max-width: 600px) {
    padding: 7rem 0;
  }
  @media (max-width: 400px) {
    padding: 5rem 0;
  }
  &__wrapper {
    max-width: 114rem;
    margin: 0 auto;
  }
  .heading-secondary {
    margin-bottom: 8rem;
    text-align: center;
    @media (max-width: 1000px) {
      margin-bottom: 7rem;
    }
    @media (max-width: 800px) {
      margin-bottom: 6rem;
    }
    @media (max-width: 600px) {
      margin-bottom: 5rem;
    }
    @media (max-width: 400px) {
      margin-bottom: 4rem;
    }
  }
  & > *{
    position: relative;
    z-index: 2;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
}

.story {
  max-width: 75%;
  transform: skew(-12deg);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 6rem;
  margin-bottom: 8rem;
  @media (max-width: 1000px) {
    margin-bottom: 7rem;
  padding: 5rem;
  }
  @media (max-width: 800px) {
  padding: 4rem;
  margin-bottom: 6rem;
  }
  @media (max-width: 600px) {
  padding: 3rem;
  margin-bottom: 5rem;
  transform: skew(0);
  }
  @media (max-width: 400px) {
  padding: 2rem;
  margin-bottom: 4rem;
  }
  &__figure {
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin: 0;
    transform: translateX(-3rem) skewX(12deg);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 3rem;
    overflow: hidden;
    @media (max-width: 600px) {
      width: 10rem;
    height: 10rem;
    transform: translateX(-3rem) skewX(0);
      }
  }
  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.1);
    transition: .5s;
  }
  & > * {
    transform: skew(12deg);
    @media (max-width: 600px) {
      transform: skew(0);
    }
  }
  &__caption {
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    font-weight: bold;
    transition: .5s;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
  &:hover &__img {
    filter: blur(3px);
    transform: translate(-50%,-50%) scale(1);
  }
}