.wrapper {
  padding: 0 6rem;
}
.home {
  box-sizing: border-box;
  background-color: #f7f7f7;
  position: relative;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}
.welcome {
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba(#ddd, .5) 0%, rgba(#ddd, .5) 100%), url('../../Assets/Images/home-1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    &__text-box {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }
}
.arrow-container {
  margin-top: -5rem;
  text-align: center;
}
.arrow {
  display: inline-block;
  font-size: 6rem;
  background-image: linear-gradient(to right, rgba(188, 88, 30, 0.8), rgba(226, 123, 54, 0.8));
  background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: .3s;
  &:hover {
    transform: scale(1.1);
  }
}

.about {
  font-size: 1.8rem;
  padding: 5rem;
  margin: 10rem 0;
  & h2 {
    margin-bottom: 10rem;
  }
  &__container {
    display: flex;
  max-width: 114rem;
  margin: 0 auto;
  }
  &__left {
    flex-basis: 50%;
    .link {
      margin-top: 3rem;
      margin-left: 1rem;
    }
  }
  &__right {
    flex-basis: 50%;
    position: relative;
  }
}

.offer {
  margin: 20rem 0;
  padding: 20rem 5rem;
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(221, 221, 221, 0.5) 0%, rgba(221, 221, 221, 0.5) 100%), url('../../Assets/Images/offer-background.jpg');
  background-size: cover;
  background-position: center;
  &__container {
    display: flex;
    transform: skewY(7deg);
    margin: 0 auto;
    max-width: 114rem;
    justify-content: space-between;
  }
  &__box {
    flex-basis: 25%;
    padding: 3rem;
    background: rgba(221, 221, 221, 0.8);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: .3s;
    border-radius: 1rem;
    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
    &--icon {
      background-clip: text;
      font-size: 5rem;
      color: transparent;
      display: block;
      text-align: center;
      background-image: linear-gradient(to right, rgba(188, 88, 30, 0.8), rgba(226, 123, 54, 0.8));
    }
    &--header {
      text-align: center;
    }
    &--text {
      color: #836767;
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

.stories {
  padding: 15rem 0;
  position: relative;
  &__wrapper {
    max-width: 114rem;
    margin: 0 auto;
  }
  .heading-secondary {
    margin-bottom: 8rem;
  }
  & > *{
    position: relative;
    z-index: 2;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
}

.story {
  max-width: 75%;
  transform: skew(-12deg);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 6rem;
  margin-bottom: 8rem;
  &__figure {
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin: 0;
    transform: translateX(-3rem) skewX(12deg);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 3rem;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.1);
    transition: .5s;
  }
  & > * {
    transform: skew(12deg);
  }

  &__caption {
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    font-weight: bold;
    transition: .5s;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
  &:hover &__img {
    filter: blur(3px);
    transform: translate(-50%,-50%) scale(1);
  }
}