.offer {
  padding: 20rem 5rem;
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(221, 221, 221, 0.5) 0%, rgba(221, 221, 221, 0.5) 100%), url('../../Assets/Images/offer-background.jpg');
  background-size: cover;
  background-position: center;
  &-wrapper {
    background-color: #f7f7f7;
    padding: 20rem 0;
    @media (max-width: 1000px) {
      padding: 15rem 0;
    }
    @media (max-width: 800px) {
      padding: 10rem 0;
    }
    @media (max-width: 600px) {
      padding: 5rem 0;
    }
  }
  @media (max-width: 1000px) {
    margin: 15rem 0;
    padding: 15rem 4rem;
  }
  @media (max-width: 800px) {
    margin: 10rem 0;
    padding: 10rem 3rem;
  }
  @media (max-width: 600px) {
    margin: 5rem 0;
    padding: 5rem 2rem;
  }
  &__container {
    display: flex;
    transform: skewY(7deg);
    margin: 0 auto;
    max-width: 114rem;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  &__box {
    flex-basis: 25%;
    padding: 3rem;
    background: rgba(221, 221, 221, 0.8);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: .3s;
    border-radius: 1rem;
    @media (max-width: 1000px) {
      padding: 2.5rem;
    }
    @media (max-width: 800px) {
      padding: 2rem
    }
    @media (max-width: 600px) {
      padding: 1.5rem;
      margin-top: 2rem;
    }
    @media (max-width: 400px) {
      padding: 1rem;
    }
    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
    &--icon {
      background-clip: text;
      font-size: 5rem;
      color: transparent;
      display: block;
      text-align: center;
      background-image: linear-gradient(to right, rgba(188, 88, 30, 0.8), rgba(226, 123, 54, 0.8));
      @media (max-width: 1000px) {
        font-size: 4rem;
      }
      @media (max-width: 800px) {
        font-size: 3.5rem;
      }
      @media (max-width: 600px) {
        font-size: 3rem;
      }
      @media (max-width: 400px) {
        font-size: 3rem;
      }
    }
    &--header {
      text-align: center;
    }
    & .paragraph {
      text-align: center;
    }
  }
}
