.stories {
  padding: 15rem 0;
  position: relative;
  background-color: #f7f7f7;
  overflow: hidden;
  @media (max-width: 1000px) {
    padding: 12rem 0;
  }
  @media (max-width: 800px) {
    padding: 10rem 0;
  }
  @media (max-width: 600px) {
    padding: 7rem 0;
  }
  @media (max-width: 400px) {
    padding: 5rem 0;
  }
  &__wrapper {
    max-width: 114rem;
    margin: 10rem auto 0;
  }
  .heading-secondary {
    margin-bottom: 8rem;
    text-align: center;
    @media (max-width: 1000px) {
      margin-bottom: 7rem;
    }
    @media (max-width: 800px) {
      margin-bottom: 6rem;
    }
    @media (max-width: 600px) {
      margin-bottom: 5rem;
    }
    @media (max-width: 400px) {
      margin-bottom: 4rem;
    }
  }
  & > *{
    position: relative;
    z-index: 2;
  }
  &__lines-box {
    display: inline-flex;
    flex-direction: column;
    }
    &__line {
      font-size: 13rem;
      line-height: 10rem;
      white-space: nowrap;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(to right, rgba(188, 88, 30, 0.8), rgba(226, 123, 54, 0.8));
      &:not(:first-child) {
        margin-top: 3rem;
      }
      @media (max-width: 800px) {
        font-size: 7rem;
        line-height: 5rem;
      }
    }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
  }
}

.story {
  max-width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 6rem;
  padding-left: 9rem;
  margin-bottom: 8rem;
  @media (max-width: 1000px) {
    margin-bottom: 7rem;
  padding: 5rem;
  padding-left: 8rem;

  }
  @media (max-width: 800px) {
  padding: 4rem;
  padding-left: 7rem;
  margin-bottom: 6rem;
  }
  @media (max-width: 600px) {
  padding: 3rem;
  padding-left: 6rem;
  margin-bottom: 5rem;
  }
  @media (max-width: 400px) {
  padding: 2rem;
  padding-left: 5rem;
  margin-bottom: 4rem;
  }
  &__figure {
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin: 0;
    transform: translateX(-3rem) skewX(12deg);
    shape-outside: circle(50% at 50% 50%);
    overflow: hidden;
    @media (max-width: 600px) {
      width: 10rem;
    height: 10rem;
    transform: translateX(-3rem) skewX(0);
      }
  }
  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.1);
    transition: .5s;
  }
  &__caption {
    font-size: 1.7rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    font-weight: bold;
    transition: .5s;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
  &:hover &__img {
    filter: blur(3px);
    transform: translate(-50%,-50%) scale(1);
  }
}