.SideDrawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 30rem;
  max-width: 70%;
  z-index: 200;
  background-image: linear-gradient(105deg, rgba(#ddd, .2) 0%, rgba(#ddd, .2) 100%, transparent 50%), url('../../../Assets/Images/purty_wood.png');
  padding: 3.2rem 1rem;
  box-sizing: border-box;
  transition: transform .3s ease-out;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  transform: translateX(-100%);
  & nav {
    width: 100%;
    & .NavigationItems {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      & .action-button {
        width: 80%;
       text-align: center;
       margin: 1.5rem 0;
      }
    }
  }
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}
