.burger-plate {
  width: 60%;
  position: absolute;
  &__item {
    width: 100%;   
  }
  &--plate {
    @media (max-width: 1200px) {
      margin-top: 10%;
    }
    @media (max-width: 1000px) {
      margin-top: 15%;
    }
    @media (max-width: 900px) {
      margin-top: 23%;
    }
    @media (max-width: 800px) {
      margin-top: 25%;
    }
    @media (max-width: 700px) {
      margin-top: 40%;
    }
  }
}
