main {
  margin-top: 15rem;
  position: relative;
  @media (max-width: 1000px) {
    margin-top: 10rem;
    }
}
.alert {
  position: fixed;
  right: 0;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  background-color: #5CB811;
  padding: 1rem 15rem 1rem 3rem;
  border-radius: 4px;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0,0,0,.5);
  margin: 1rem;
  font-size: 1.6rem;
  z-index: 999999;
  transform: translateX(100%);
  visibility: hidden;
}
.footer {
  background-color: rgba(255, 188, 13, 0.9);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1000px) {
    height: 3rem;
  }
  &__text {
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    span {
      font-weight: bold;
      cursor: pointer;
      a, a:visited, a:active {
        text-decoration: none;
        color: inherit;
        transition: .3s;
        &:hover {
          text-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
        }
      }
    }
  }
}