main {
  margin-top: 15rem;
  position: relative;
  @media (max-width: 500px) {
    margin-top: 10rem;
    }
    @media (max-width: 800px) and (orientation: landscape) {
      margin-top: 10rem;
      }
}

.footer {
  background-color: rgba(255, 188, 13, 0.9);
  padding: 1rem;
  margin-top: 2rem;
  &__text {
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    span {
      font-weight: bold;
      cursor: pointer;
      a, a:visited, a:active {
        text-decoration: none;
        color: inherit;
        transition: .3s;
        &:hover {
          text-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
        }
      }
    }
  }
}