body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.7;
  background-image: url(./Assets/Images/purty_wood.png);
}

html {
  font-size: 62.5%;
  @media (max-width: 1100px) {
    font-size: 56.25%;
  }
  @media (max-width: 800px) {
    font-size: 50%;
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}