body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.7;
  background-image: url(./Assets/Images/purty_wood.png);
}

html {
  font-size: 62.5%;
  @media (max-width: 1100px) {
    font-size: 56.25%;
  }
  @media (max-width: 800px) {
    font-size: 50%;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  letter-spacing: 3px;
}

.heading-secondary {
  font-size: 3.5rem;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(#bc581e, 0.8), rgba(#e27b36, 0.8));
  transition: .3s;
  letter-spacing: 2px;
  font-weight: 700;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px;
  }
}
.heading-tertiary {
  font-size: 1.8rem;
  letter-spacing: 2px;
  transition: .3s;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(#bc581e, 0.8), rgba(#e27b36, 0.8));
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px;
  }
}
