body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.7;
  background-image: url(./Assets/Images/purty_wood.png);
}

::-webkit-scrollbar {
    background-color: #f7f7f7;
    width: 5px;
  &-track {
     box-shadow: 0 0 2.5px 2px #000;
  }
  &-thumb {
  background-color: #bc581e;
  border-radius: 3px;
  }
}

html {
  font-size: 62.5%;
  @media (max-width: 1100px) {
    font-size: 56.25%;
  }
  @media (max-width: 800px) {
    font-size: 50%;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  &--main {
    font-size: 5rem;
    letter-spacing: 6px;
    font-weight: 300;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(#bc581e, 0.8), rgba(#e27b36, 0.8));
  transition: .3s;
  letter-spacing: 2px;
  font-weight: bold;
  &--main {
    font-size: 4rem;
  letter-spacing: 4px;
  font-weight: normal;
  font-style: italic;
  color: white;
  }
}
.heading-tertiary {
  font-size: 1.8rem;
  letter-spacing: 2px;
  transition: .3s;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(#bc581e, 0.8), rgba(#e27b36, 0.8));
}