.contact-data {
  margin: 8rem auto;
  width: 50%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 3rem;
  box-sizing: border-box;
  background-image: linear-gradient(105deg, rgba(221, 221, 221, 0.9) 0%, rgba(221, 221, 221, 0.9) 100%, transparent 50%), url('../../../Assets/Images/contact.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  visibility: hidden;
  transform: translateY(100px);
  @media (max-width: 1200px) {
   width: 55%;
  }
  @media (max-width: 1000px) {
    width: 60%;
    padding: 2rem;
   }
   @media (max-width: 800px) {
    width: 65%;
   }
   @media (max-width: 600px) {
    width: 80%;
   }
  &__heading {
    color: #944317;
    margin: 3rem 0;
    visibility: hidden;
    transform: translateY(30px);
    @media (max-width: 1000px) {
    margin: 2rem 0;
     }
  }
  &__form > * {
   visibility: hidden;
   transform: translateX(-20px);
  }
  .btn {
    margin: 2rem auto;
    font-size: 2rem;
    @media (max-width: 1000px) {
      margin: 1rem auto;
       }
    
  }
  &__btn:not(:disabled) {
    animation: activateButton 1s ease-in-out;
   }
}
